body {
    font-family: 'TT Lakes', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-width: 320px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    background-color: #F8F8F8;
    height: 100vh;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.link-reset {
    text-decoration: none;
    color: inherit;
}

/*начало стилей для макета 2.1*/

.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    /*display: none; */
}

.sidebar__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    height: 100vh;
    background-color: white;
    box-shadow: 10px 10px 50px 0 gray;
    position: fixed;
    padding-top: 18px;
    padding-bottom: 18px;
    z-index: 11;
}

.sidebar__header {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

.sidebar__navigation {
    margin-top: 40px;
    margin-bottom: auto;
}

.vert-navigation__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.vert-navigation__link {
    position: relative;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    color: #1B1C21;
    align-items: center;
    justify-content: flex-start;
    height: 32px;
    padding-left: 16px;
    transition: color 0.3s;
}

.vert-navigation__link:hover::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 4px;
    height: 32px;
    background-image: url("img/highlight.svg ");
    background-repeat: space;
    left: 0;
}

.sidebar__footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-around;
    margin-left: 24px;
}

.email {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    color: #1B1C21;
    transition: color 0.3s;
}

.tel {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    transition: color 0.3s;
}

.footer__language {
    display: flex;
    gap: 8px;
}

.footer__language-link {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    color: #1B1C21;
    transition: color 0.3s;
}

.email:hover,
.tel:hover,
.vert-navigation__link:hover,
.footer__language-link:hover {
    color: #7E7E82;
}

/*конец стилей для макета 2.1*/

.menu {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    height: 88px;
    border-bottom: 1px solid #D9FFF5;
    background-color: #FFFFFF

}

.menu__divider {
    display: none;
}

.logo {
    height: 51px;
    width: auto;
}

.menu__logo,
.sidebar__logo {
    margin-right: auto;
}

.user-active {
    display: flex;
    gap: 16px;
}

.repair-active {
    display: flex;
    gap: 16px;
}

.button {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #FF3E79;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.button:hover {
    opacity: 0.5;
    transition: opacity 0.3s;
}

.menu__user-active {
    display: none;
}

.button--cancel {
    background-image: url("img/cancel.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.button--search {
    background-image: url("img/search.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.button--burger {
    background-image: url("img/burger.svg ");
    background-repeat: no-repeat;
    background-position: center center;
}

.button--call {
    background-image: url("img/call.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.button--chat {
    background-image: url("img/chat.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.button--profile {
    background-image: url("img/profile.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.button--repair {
    background-image: url("img/repair.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.button--check-status {
    background-image: url("img/check-status.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.button:hover {
    opacity: 0.5;
    transition: opacity 0.3s;
}

.button__description {
    display: none;
}

.title {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
}

.title::before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 40px;
    background-image: url("img/highlight.svg ");
    background-repeat: no-repeat;
    margin-right: 12px;
}

.header__title {
    margin-top: 24px;
}

.navigation {
    display: flex;
}

.main__navigation {
    margin-top: 24px;
    margin-left: 16px;
}

.navigation__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
}

.navigation__link {
    display: inline-block;
    padding: 8px 16px;
    height: 40px;
    white-space: nowrap;
    color: #7E7E82;
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    border: 2px solid transparent;
    border-radius: 6px;
}

.navigation__link:hover {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #FFFFFF;
}

.resume {
    display: flex;
    flex-direction: column;
}

.text-content {
    font-family: "TT Lakes", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 20px;
}

.text-content--mobile-hidden {
    display: none;
}

.resume__text-content {
    margin: 24px 16px 16px 16px;
}

.read-more {
    display: flex;
    align-items: center;
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    height: 24px;
}

.read-more::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("img/expand.svg");
    background-repeat: no-repeat;
    margin-right: 8px;
}

.read-more:hover {
    opacity: 0.5;
    transition: opacity 0.3s;
}

.text-content__read-more {
    margin-top: 16px;
}

.image {
    max-width: 100%;
}

@media (min-width: 768px) {

    .menu__user-active {
        display: inherit;
    }

    .menu__divider {
        display: inherit;
    }

    .text-content--mobile-hidden {
        display: inherit;
        margin-top: 1em;
    }

    .text-content--tablet-hidden {
        display: none;
    }

    .resume {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 48px;
    }

    .main__resume {
        margin: 32px 25px 40px 25px;
    }

    .resume__text-content {
        margin: 0;
    }
}

@media (min-width: 1120px) {

    .button--burger {
        display: none;
    }

    .menu__user-active {
        display: none;
    }

    .repair-active__item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    .button__description {
        display: inherit;
    }

    .menu__logo {
        display: none;
    }

    .divider {
        display: none;
    }

    .menu {
        background-color: inherit;
    }

    .header {
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    .header__title {
        order: -1;
    }

    .navigation__list {
        overflow-x: inherit;
        display: flex;
        flex-wrap: wrap;
    }
}